// FONT FAMILY

$font-site: 'Montserrat', sans-serif;

// FONT COLOR

$main-font-color: #000;
$main-secondary-font-color: #fff;
$brand-color: #b88b58;
$brand-color-hover: #edb372;
$clients-background: #efefef;
$subtitle-color: #aeaeae;
$paragraph-color: #7e7e7e;
$second-paragraph-color: #6c6b6b;

// FONT WEIGHT

$bold: 700;
$normal: 400;
$light: 300;

// FONT SIZE

$main-header-font-size: 70px;
$section-titles-font-size: 29px;
$facts-titles-font-size: 18px;
$subtitles-font-size: 14px;
$paragraph-size: 14px;