body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    ackground-color: red;
};

.inner-container {
    width: 100%;
    max-width: 1135px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 845px) {
    .space {
        padding-bottom: 89px;
    }
}

@media (max-width: 844px) {
    .space {
        padding-bottom: 30px;
    }
    
}